.np-provgraph {
  display: flex;
  flex-direction: column;
}

.np-provgraphtoolbar {
  flex-wrap: wrap-reverse;
}

.np-provgraphtoolbar .jp-Toolbar-item {
  height: auto;
}

.np-provgraphtoolbar .np-toolbarspacer {
  flex-grow: 1;
  flex-shrink: 1;
}

.np-filter-disabled path {
  stroke: gray;
}

button.np-filterbutton {
  padding-left: 2px;
  padding-right: 2px;
}
